.to-do-list-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid black;
    max-width: 500px;
    max-height: auto;
    height: 700px;
}

.background-image{
    height: 195px;
    width: auto;
    background-image: url(header.PNG);
    background-repeat: no-repeat;    
}

.date{
    text-align: center;
    color: white;
    margin-top: 95px;
    font-size: 30px;
}

.task-list{
    margin: 0 20px;
    max-width: 500px;
    height: 450px;
    max-height: 500px;

}

.button-and-input-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.submit-task{
    width: 25%;
    height: 100%;

}

.input-task{
    width: 60%;
    height: 100%;

}

li {
    text-align: left;
    font-size: 20px;
    list-style: none;
    margin: 0;
}

li:hover {
    text-decoration: line-through;
    cursor: pointer;
}
  
ul > div {
    background-image: url(header.PNG);
    background-repeat: no-repeat;   
    
}